In [6]:
import pandas as pd
import csv

In [7]:
test=pd.read_csv('/Users/akshit.jain/repos/bert/bert/data/test.tsv', sep='\t', quoting=csv.QUOTE_NONE)

In [9]:
test.head()

,index,#1 ID,#2 ID,#1 String,#2 String
0,0,1089874,1089925,"PCCW 's chief operating officer , Mike Butcher...",Current Chief Operating Officer Mike Butcher a...
1,1,3019446,3019327,The world 's two largest automakers said their...,Domestic sales at both GM and No. 2 Ford Motor...
2,2,1945605,1945824,According to the federal Centers for Disease C...,The Centers for Disease Control and Prevention...
3,3,1430402,1430329,A tropical storm rapidly developed in the Gulf...,A tropical storm rapidly developed in the Gulf...
4,4,3354381,3354396,The company didn 't detail the costs of the re...,But company officials expect the costs of the ...

In [12]:
res=pd.read_csv('/Users/akshit.jain/repos/bert/bert/data/test_results.tsv',  sep='\t', header=None)

In [18]:
res['acc']=res.apply(lambda x: max(x[0],x[1]), axis=1)

In [22]:
res['label']=res.apply(lambda x: 0 if x[0]>x[1] else 1, axis=1)

In [36]:
res.sort_values('acc', ascending=True).head()

             0         1       acc  label
914   0.500116  0.499884  0.500116      0
606   0.499078  0.500922  0.500922      1
1434  0.503403  0.496597  0.503403      0
1258  0.495369  0.504631  0.504631      1
328   0.508277  0.491723  0.508277      0

In [37]:
eval_idx=328
print("{}\n{}".format(test.iloc[eval_idx]['#1 String'],test.iloc[eval_idx]['#2 String']))

School officials said Van-Vliet reported the accident using the bus â€™ radio .
Van-Vliet , who was also injured , called in the accident on the school bus radio .